
body{
  padding :0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --id : #ki_kd_tujuan;
}

#ki_kd_tujuan .container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding:00px 200px !important;
  flex-direction: column;
  margin:100px 0px;
  
}
#ki_kd_tujuan .container-kd{
  border: 0.5px solid #ccc;
  display: flex;
  flex-direction: column;
  padding:10px 20px;
  justify-content: center;
  align-items: center;
  border-radius:4px;
  padding:50px 30px;
  width: 100%;
}

#ki_kd_tujuan .title-kd{
  font-size:20pt;
  font-weight: 700;
}


#ki_kd_tujuan .content-kd{
  margin-top: 30px;
}

#ki_kd_tujuan  .container-ki{
margin-top:20px;
width: 100%;
/* background-color: red; */
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
padding:20px;
border-radius: 4px;
border:0.5px solid #ccc;
}

#ki_kd_tujuan .container-ki .content-ki {
/* background-color: blue; */
margin: 10px 0px;
flex-direction: column;
display: flex;
align-items: flex-start;
justify-content: start;
}

#ki_kd_tujuan .container-ki .content-ki .muatan {
  margin: 10px 0px;
}


#ki_kd_tujuan .container-tujuan{
  margin:20px 0px;
  border:0.5px solid #ccc;
  padding:40px 40px;
  border-radius: 4px;
}

#ki_kd_tujuan .container-tujuan .title-kd{
  font-size:20pt;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


.btn-kembali{
  display: flex;
  background-color: #04a5d1;
  cursor: pointer;
  margin-bottom: 40px;
  color: #fff;
  padding: 7px 50px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #04a5d1;
  transition: 400ms;
  justify-content: start;
  align-items: flex-start;
}
.btn-kembali:hover{
  background-color: transparent;
  color:#000;
}